*{
    margin: 0;
    padding: 0;
}

#main-doc{
    overflow-x: hidden;
    position: absolute;
    left: 250px; 
    padding-left: 10px;
    border-left: 5px dashed #000;  
}
.nav-link{
    border: 5px solid #000;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    
}


#all-links{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    overflow-y: scroll;
    margin-top: 20px;  
}
#navbar{
    position: fixed;
    background-color: #fff;
}

nav h1{
    font-family: 'Odibee Sans', cursive;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    width: 250px; 
    
}
p{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-align: justify;
}
section{
    display: block;
    margin: auto;
}
section h1{
    text-align: center;
    margin: 20px 0 10px 0;
    font-family: 'Limelight', cursive;

}

a, a:visited, a:active {
    color: rgb(230, 6, 6);
  }
a:hover{
    animation: text 1s ease 0s 1 normal forwards;
}
@keyframes text {
  0% {
    transform: scale(0.5);
  }
  
  100% {
    transform: scale(1);
  }
}

code{
    display: block;
    margin: 5%;
    padding: 10px;
    background-color: rgb(190, 190, 190);
    font-weight: 700;
}
ul{
    display: block;
    margin:10px 0 10px 40px;
    font-size: larger;
}

@media (max-width: 700px){  
    html{
        overflow-y: hidden;
    }
    #main-doc{
        position: relative;
        border-left: none;
        border-top: 5px dashed #000;  
        background-color: #fff;  
        left: 0px;
        height: 52%;
        top:47.5vh;
    }
    
    #all-links{
        position: relative;
        width: 150%;
        height: 40vh;
        overflow-y: scroll;
        margin-top: 1vh;
    }
    
    nav h1{
        width: 150%;
        margin-top: 0;
        font-size: 9vmin;
    }
}

